
  <head>
      <link href="/model/lib/highlightjs/github.css" rel="stylesheet">
      <link href="/model/lib/datatables/jquery.dataTables.css" rel="stylesheet">
      <link href="/model/lib/select2/css/select2.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/model/css/bracket.css">
      <link rel="stylesheet" href="/plugins/My97DatePicker/skin/WdatePicker.css">
      
      <link href="/plugins/kindeditor/themes/default/default.css" type="text/css" rel="stylesheet">  
      
      <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.6&key=4784f9fde42266b8300aa2fe374a83fb&plugin=AMap.Autocomplete,AMap.PlaceSearch"></script>
      
      <style type="text/css">
			*{
				margin: 0;
				padding: 0;
			}
			
			.bigbox{
				display: table;
				width: 625px;
				height: auto;
				box-sizing: border-box;
				border: 1px solid #000;
				margin: 100px auto;
				padding: 10px 0 10px 5px;
			}
			.bigbox>div{
				
				width: 200px;
				height: 200px;
				float: left;
				margin: 0 5px 5px 0;
				position: relative;
			}
			.line{
				width: 100%;
				height:20px;
				position: absolute;
				bottom: -3px;
			}
			.line p{
				width: 50%;
				float: left;
				text-align: center;
				cursor: pointer;
				transition: .3s;
			}
			.line p:hover{
				color: #ccc;
			}
			.bigbox .addimgbtn{
				background-color: #ccc;
			}
			.addimgbtn h1{
				text-align: center;
				margin-top: 80px;
				cursor: pointer;
			}
			.imgbox{
				width: 100%;
				height: 180px;
				background-color: #A52A2A;
			}
		</style>
  </head>

  <body>
<!--请求路径-->
  <div class="br-pageheader pd-y-15 pd-l-20">
      <nav class="breadcrumb pd-0 mg-0 tx-12">
          <a class="breadcrumb-item" href="/main">首页</a>
          <a class="breadcrumb-item" href="javascrip:void(0);" onclick="reCommit()">资讯管理</a>
      </nav>
  </div>

<!--页面标题-->
<!-- <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">景点管理</h4>
    <p class="mg-b-0">景点管理</p>
</div> -->

<div class="br-pagebody">
    <div class="br-section-wrapper">
        <div class="table-wrapper">
            <!--查询条件-->
            <div class="row">
                <div class="col-lg-2 mg-l-0 mg-b-20 mg-lg-t-0 ">
               标题
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="标题" name="paramMap_titel" id="paramMap_titel">

                    </div><!-- input-group -->
                </div>
               
                <div class="col-lg-2 mg-l-0 mg-b-20 mg-lg-t-0 pd-l-0">
                <br />
                    <div class="input-group">
                        <button class="btn btn-primary mg-l-10" onclick="sreachCommit()"><i class="fa fa-search mg-r-10"></i> 搜索</button>
                        <button class="btn btn-primary mg-l-10" onclick="add()"><i class="fa fa-plus mg-r-10"></i> 添加</button>
                    </div><!-- input-group -->
                </div>
            </div>

            <!--数据列表-->
            <div id="dynamic-table_wrapper" class="dataTables_wrapper no-footer">
                <table id="dynamic-table" class="table display responsive nowrap dataTable no-footer dtr-inline" role="grid" aria-describedby="dynamic-table_info" >
                    <thead>
                    <tr role="row">
                        <th class="wd-5p parsley-checkbox " tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 129px;">

                            <label class="ckbox " >
                                <input type="checkbox" name="browser[]"><span></span>
                            </label>

                            <!--<label class='pos-rel'><input type='checkbox' class='ace'> <span class='lbl'></span></label>-->
                        </th>
                        <th class="wd-15p " tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 129px;" >编号</th>
                        <th class="wd-20p " tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 180px;" >封面图片</th>
                        <th class="wd-15p " tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 129px;" >标题</th>
                        <th class="wd-15p " tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 129px;" >发布时间</th>
                        <th class="wd-10p " tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 78px;" >相关</th>
                        <th class="wd-25p " tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" style="width: 231px;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>





  <!--<div class="table-wrapper">-->
      <!--<table id="dynamic-table" class="table display responsive nowrap">-->
          <!--<thead>-->
          <!--<tr>-->
              <!--<th class="wd-5p"><label class='pos-rel'><input type='checkbox' class='ace'> <span class='lbl'></span></label></th>-->
              <!--<th class="wd-10p">ID</th>-->
              <!--<th class="wd-15p">名称</th>-->
              <!--<th class="wd-20p">性别</th>-->
              <!--<th class="wd-15p">时间</th>-->
              <!--<th class="wd-10p">TOKEN</th>-->
              <!--<th class="wd-25p">操作</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->

          <!--</tbody>-->
      <!--</table>-->
  <!--</div>&lt;!&ndash; table-wrapper &ndash;&gt;-->
  



      <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">Copyright &copy; 2017. Bracket. All Rights Reserved.</div>
          <div>Attentively and carefully made by ThemePixels.</div>
        </div>
        <div class="footer-right d-flex align-items-center">
          <span class="tx-uppercase mg-r-10">Share:</span>
          <a target="_blank" class="pd-x-5" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themepixels.me/bracket/intro"><i class="fa fa-facebook tx-20"></i></a>
          <a target="_blank" class="pd-x-5" href="https://twitter.com/home?status=Bracket,%20your%20best%20choice%20for%20premium%20quality%20admin%20template%20from%20Bootstrap.%20Get%20it%20now%20at%20http%3A//themepixels.me/bracket/intro"><i class="fa fa-twitter tx-20"></i></a>
        </div>
      </footer>
      <script src="/model/lib/jquery/jquery.js"></script>
      <script src="/plugins/dataTable/js/adminHx/information/ro.dataTable.js"></script>
      <script src="/plugins/dataTable/js/adminHx/information/demo.dataTable.js"></script>
      <script src="/plugins/My97DatePicker/WdatePicker.js"></script>
      
      <script type="text/javascript" src="/plugins/kindeditor/kindeditor-all.js"></script>
	<script type="text/javascript" src="/plugins/kindeditor/lang/zh-CN.js"></script>
	<script charset="utf-8" src="/plugins/kindeditor/plugins/code/prettify.js"></script>
	<script type="text/javascript" src="/plugins/kindeditor/kindeditor-base.js"></script>
      <script src="/public/base.js"></script>
      <script src="/public/information_kindeditor.js"></script>
      
      

<!--<script src="/model/lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>-->
<!--<script src="/model/lib/d3/d3.js"></script>-->

    <script>
    
	
    	function name() {
			
		}
    	
    	function add(){
    		var _html = '';
    		_html+='<form id="form">                                                                                                                                                           '
    		+'      <div class="br-pagebody">                                                                                                                                            '
    		+'                                                                                                                                                                           '
    		+'        <div class="br-section-wrapper">                                                                                                                                   '
    		+'            <!--内容-->                                                                                                                                                    '
    		+'            <div class="row">                                                                                                                                              '
    		+'                <p style="width: 79.12px;"  class="tx-11 tx-uppercase tx-spacing-2 mg-b-10 mg-t-10 tx-gray-600"><span class="tx-danger">*</span>标题:</p>                  '
    		+'                <div class="col-lg mg-l-10">                                                                                                                               '
    		+'                    <input class="form-control wd-50%" id="tilte" name="tilte"  placeholder="请输入标题" type="text">                                                      '
    		+'                </div><!-- col -->                                                                                                                                         '
    		+'            </div>                                                                                                                                                         '
    		+'            <div class="row mg-t-20">                                                                                                                                      '
    		+'                <p style="width: 79.12px;"  class="tx-11 tx-uppercase tx-spacing-2 mg-b-10 mg-t-10 tx-gray-600"><span class="tx-danger">*</span>关键字:</p>                '
    		+'                <div class="col-lg mg-l-10">                                                                                                                               '
    		+'                    <input class="form-control wd-50%" id="keyword" name="keyword" placeholder="请输入关键字" type="text">                                                 '
    		+'                </div><!-- col -->                                                                                                                                         '
    		+'            </div>                                                                                                                                                         '
    		+'            <div class="row mg-t-20">                                                                                                                                      '
    		+'                 <p style="width: 79.12px;"  class="tx-11 tx-uppercase tx-spacing-2 mg-b-10 mg-t-10 tx-gray-600"><span class="tx-danger">*</span>是否显示:</p>                              '
    		+'                <div class="col-lg-0 mg-t-10 mg-l-20 wd-60">                                                                                                               '
    		+'                    <label class="rdiobox ">                                                                                                                               '
    		+'                        <input type="radio" name="is_display" value="1" checked><span>是</span>                                                                            '
    		+'                    </label>                                                                                                                                               '
    		+'                </div>                                                                                                                                                     '
    		+'                <div class="col-lg-1 mg-t-10 m-l-0">                                                                                                                       '
    		+'                    <label class="rdiobox">                                                                                                                                '
    		+'                        <input type="radio" name="is_display" value="0" ><span>否</span>                                                                                   '
    		+'                    </label>                                                                                                                                               '
    		+'                </div>                                                                                                                                                     '
    		+'            </div>                                                                                                                                                         '
    		+'            <input type="hidden" value="" id="images" name="images"/>                                                                                                      '
    		+'             <div class="row mg-t-20">                                                                                                                                     '
    		+'                <p style="width: 79.12px;"  class="tx-11 tx-uppercase tx-spacing-2 mg-b-10 mg-t-10 tx-gray-600"><span class="tx-danger">*</span>正文:</p>        '
    		+'                <div class="col-lg mg-l-10">                                                                                                                               '
    		+'                    <textarea class="form-control wd-50%" id="content" style="width:100%;height:400%;visibility:hidden;" name="content" > </textarea> '
    		+'                </div><!-- col -->                                                                                                                                         '
    		+'            </div>                                                                                                                                                         '
    		+'                                                                                                                                                                           '
    		+'			<div class="row mg-t-20">                                                                                                                                                                                          '
			+'				<div class="btn btn-secondary btn-oblong bd-2 pd-x-30 pd-y-10 tx-uppercase tx-bold tx-spacing-1 tx-15" onclick="cancelFormLayer()">取消</div>                                                                  '
			+'				<div class="btn btn-outline-primary btn-oblong bd-2 pd-x-30 pd-y-10 tx-uppercase tx-bold tx-spacing-1 tx-15 mg-l-10" onclick="insert_information(\'adminHx/information/insert\',\'form\')">确定</div>                                                             '
			+'			</div>           '
    		+'        </div><!-- br-section-wrapper -->                                                                                                                                  '
    		+'      </div><!-- br-pagebody -->                                                                                                                                           '
    		+'       </form>                                                                                                                                                             '
    		fromEject(_html,'资讯添加','80%','80%');
    		createEditor_init();
    	} 
    	
    	var content;
    	//富文本加载
    	function createEditor_init(){
    		
			//页面初始化完毕后执行此方法
			$(function() {
				  //初始化类目选择和图片上传器  
    	        E3.init({fun:function(node){  
    	        }});  
				//创建富文本编辑器
				content = E3.createEditor("#form [id=content]");
				
			}); 
    	}
    	//表单提交富文本处理
    	function form_conmit(){
    		content.sync();
    	}
    	
    	//添加
    	function insert_information(url,form){
    		//处理图片
    		form_conmit();
    		image_handle();
    		insert(url,form);
    	}
    	
    	//处理图片
    	function image_handle(){
    		
    		//获取富文本中的img标签
    		 var imgs = content.edit.iframe.get().contentWindow.document.body.getElementsByTagName('img');
             if (imgs.length > 0) {
            	 
            	 var image = ''
           		for (var i = 0; i < imgs.length; i++) {
       				if (i<3){
       					
       					image += imgs[i].src+","
       				}
       			}
           		if (image.length>0){
           			image = image.substring(0, image.length-1)
           		}
           		console.log(image)
           		$("#images").val(image);
             }
    	}
    	
    	
    	function update_information(url,form){
    		//处理图片
    		form_conmit();
    		image_handle();
    		update(url,form);
    	}
    	//修改
    	function edit_information(id,url,dec){
    		$.ajax({
    			url : url,
     	        type : "POST",
     	      	data : {"information_id":id},
     	      	success : function (res) {
     	      		
     	      		res = strToJson(res);
     	      	
     	      			
     	      			var information = res.data;
     	      			var information_id = information.information_id;
     	      			var tilte = information.tilte=null?"":information.tilte;
     	      			var keyword = information.keyword=null?"":information.keyword;
     	      			var content = information.content=null?"":information.content;
     	      			var is_display = information.is_display;
     	      			var display = '';
     	      			display +='                <div class="col-lg-0 mg-t-10 mg-l-20 wd-60">                                                                                                               '
         	       		+'                    <label class="rdiobox ">                                                                                                                               '
         	       		+'                        <input type="radio" name="is_display" value="1" '
         	       		if (is_display==1){
         	       			display+=' checked                                                                          '
         	       		}
         	       		
         	       	display+='            ><span>是</span>           </label>                                                                                                                                               '
         	       		+'                </div>                                                                                                                                                     '
         	       		+'                <div class="col-lg-1 mg-t-10 m-l-0">                                                                                                                       '
         	       		+'                    <label class="rdiobox">                                                                                                                                '
         	       		+'                        <input type="radio" name="is_display" value="0" '
	         	       	if (is_display!=1){
	     	       			display+=' checked                                                                             '
	     	       		}
         	       	display+='          ><span>否</span>          </label>                                                                                                                                               '
         	       		+'                </div>               '                                                
     	      			
         	       		var _html = '';
         	       	_html+='<form id="form">                                                                                                                                                           '
     	       		+'      <div class="br-pagebody">                                                                                                                                            '
     	       		+'                                                                                                                                                                           '
     	       		+'        <div class="br-section-wrapper">                                                                                                                                   '
     	       		+'            <!--内容-->                                                                                                                                                    '
     	       		+'            <div class="row">                                                                                                                                              '
     	       		+'                <p style="width: 79.12px;"  class="tx-11 tx-uppercase tx-spacing-2 mg-b-10 mg-t-10 tx-gray-600"><span class="tx-danger">*</span>标题:</p>                  '
     	       		+'                <div class="col-lg mg-l-10">                                                                                                                               '
     	       		+'                    <input class="form-control wd-50%" id="tilte" name="tilte"  placeholder="请输入标题" type="text" value="'+tilte+'">                                                      '
     	       		+'                </div><!-- col -->                                                                                                                                         '
     	       		+'            </div>                                                                                                                                                         '
     	       		+'            <div class="row mg-t-20">                                                                                                                                      '
     	       		+'                <p style="width: 79.12px;"  class="tx-11 tx-uppercase tx-spacing-2 mg-b-10 mg-t-10 tx-gray-600"><span class="tx-danger">*</span>关键字:</p>                '
     	       		+'                <div class="col-lg mg-l-10">                                                                                                                               '
     	       		+'                    <input class="form-control wd-50%" id="keyword" name="keyword" placeholder="请输入关键字" type="text" value="'+keyword+'">                                                 '
     	       		+'                </div><!-- col -->                                                                                                                                         '
     	       		+'            </div>                                                                                                                                                         '
     	       		+'            <div class="row mg-t-20">                                                                                                                                      '
     	       		+'                 <p style="width: 79.12px;"  class="tx-11 tx-uppercase tx-spacing-2 mg-b-10 mg-t-10 tx-gray-600"><span class="tx-danger">*</span>是否显示:</p>                              '
     	       		+display
     	       		+'            </div>                                                                                                                                                         '
     	       		+'            <input type="hidden" value="" id="images" name="images"/> <input type="hidden" value="'+information_id+'" id="information_id" name="information_id"/>                                                                                                     '
     	       		+'             <div class="row mg-t-20">                                                                                                                                     '
     	       		+'                <p style="width: 79.12px;"  class="tx-11 tx-uppercase tx-spacing-2 mg-b-10 mg-t-10 tx-gray-600"><span class="tx-danger">*</span>正文:</p>        '
     	       		+'                <div class="col-lg mg-l-10">                                                                                                                               '
     	       		+'                    <textarea class="form-control wd-50%" id="content" style="width:100%;height:400%;visibility:hidden;" name="content"  >'+content+'</textarea> '
     	       		+'                </div><!-- col -->                                                                                                                                         '
     	       		+'            </div>                                                                                                                                                         '
     	       		+'                                                                                                                                                                           '
     	       		+'			<div class="row mg-t-20">                                                                                                                                                                                          '
     	   			+'				<div class="btn btn-secondary btn-oblong bd-2 pd-x-30 pd-y-10 tx-uppercase tx-bold tx-spacing-1 tx-15" onclick="cancelFormLayer()">取消</div>                                                                  '
     	   			+'				<div class="btn btn-outline-primary btn-oblong bd-2 pd-x-30 pd-y-10 tx-uppercase tx-bold tx-spacing-1 tx-15 mg-l-10" onclick="update_information(\'adminHx/information/update\',\'form\')">确定</div>                                                             '
     	   			+'			</div>           '
     	       		+'        </div><!-- br-section-wrapper -->                                                                                                                                  '
     	       		+'      </div><!-- br-pagebody -->                                                                                                                                           '
     	       		+'       </form>                                                                                                                                                             '
     	       		fromEject(_html,'资讯添加','80%','80%');
     	       		createEditor_init();
     	      			
     	      		
     	      	}
    		})
    	
    	}
    	
    	//删除
    	function is_hideAndRecoveryById(id,url,dec){
    		$.ajax({
    	        url : url,
    	        type : "POST",
    	        data : {information_id:id},
    	        success : function (res) {
    	        	res = strToJson(res);
    	          
    	            	layer.alert(res.msg,{icon: 6},function(){
    	            		layer.closeAll();
    	            		reloadTable($("#dynamic-table"))
    	            	});
    	        }
    	    })
    	}
    	//恢复
    	function is_not_hideAndRecoveryById(id,url,dec){
    		$.ajax({
    	        url : url,
    	        type : "POST",
    	        data : {information_id:id},
    	        success : function (res) {
    	        	res = strToJson(res);
    	          
   	            	layer.alert(res.msg,{icon: 6},function(){
   	            		layer.closeAll();
   	            		reloadTable($("#dynamic-table"))
   	            	});
    	            
    	        }
    	    })
    	}
    	//显示
    	function is_not_displayAndRecoveryById(id,url,dec){
    		$.ajax({
    	        url : url,
    	        type : "POST",
    	        data : {information_id:id},
    	        success : function (res) {
    	        	res = strToJson(res);
    	            
    	            	layer.alert(res.msg,{icon: 6},function(){
    	            		layer.closeAll();
    	            		reloadTable($("#dynamic-table"))
    	            	});
    	           
    	        }
    	    })
    	}
    	//隐藏
    	function is_displayAndRecoveryById(id,url,dec){
    		$.ajax({
    	        url : url,
    	        type : "POST",
    	        data : {information_id:id},
    	        success : function (res) {
    	        	res = strToJson(res);
    	            
    	            	layer.alert(res.msg,{icon: 6},function(){
    	            		layer.closeAll();
    	            		reloadTable($("#dynamic-table"))
    	            	});
    	            
    	        }
    	    })
    	}
    </script>
   
  </body>
