<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwt.domain.mapper.price.HwPriceMapper">
  <resultMap id="BaseResultMap" type="com.hwt.domain.entity.price.HwPrice">
    <id column="name_id" jdbcType="BIGINT" property="name_id" />
    <id column="name_type" jdbcType="INTEGER" property="name_type" />
    <id column="time" jdbcType="BIGINT" property="time" />
    <result column="adult_price" jdbcType="DECIMAL" property="adult_price" />
    <result column="child_price" jdbcType="DECIMAL" property="child_price" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="time_str" jdbcType="VARCHAR" property="time_str" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="person_num" jdbcType="INTEGER" property="person_num" />
    <result column="create_time" jdbcType="BIGINT" property="create_time" />
    <result column="update_time" jdbcType="BIGINT" property="update_time" />
  </resultMap>
  
  <sql id="Base_Column_List">
    name_id, name_type, time, adult_price, child_price, company, time_str, status, person_num, 
    create_time, update_time
  </sql>
  
  <insert id="insert" parameterType="com.hwt.domain.entity.price.HwPrice">
    insert into hw_price (name_id, name_type, time, 
      adult_price, child_price, company, 
      time_str, status, person_num, 
      create_time, update_time)
    values (#{name_id,jdbcType=BIGINT}, #{name_type,jdbcType=INTEGER}, #{time,jdbcType=BIGINT}, 
      #{adult_price,jdbcType=DECIMAL}, #{child_price,jdbcType=DECIMAL}, #{company,jdbcType=VARCHAR}, 
      #{time_str,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{person_num,jdbcType=INTEGER}, 
      #{create_time,jdbcType=BIGINT}, #{update_time,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hwt.domain.entity.price.HwPrice">
    insert into hw_price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name_id != null">
        name_id,
      </if>
      <if test="name_type != null">
        name_type,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="adult_price != null">
        adult_price,
      </if>
      <if test="child_price != null">
        child_price,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="time_str != null">
        time_str,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="person_num != null">
        person_num,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name_id != null">
        #{name_id,jdbcType=BIGINT},
      </if>
      <if test="name_type != null">
        #{name_type,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=BIGINT},
      </if>
      <if test="adult_price != null">
        #{adult_price,jdbcType=DECIMAL},
      </if>
      <if test="child_price != null">
        #{child_price,jdbcType=DECIMAL},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="time_str != null">
        #{time_str,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="person_num != null">
        #{person_num,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=BIGINT},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.hwt.domain.entity.price.HwPrice">
    update hw_price
    <set>
      <if test="adult_price != null">
        adult_price = #{adult_price,jdbcType=DECIMAL},
      </if>
      <if test="child_price != null">
        child_price = #{child_price,jdbcType=DECIMAL},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="time_str != null">
        time_str = #{time_str,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="person_num != null">
        person_num = #{person_num,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=BIGINT},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=BIGINT},
      </if>
    </set>
    where name_id = #{name_id,jdbcType=BIGINT}
      and name_type = #{name_type,jdbcType=INTEGER}
      and time = #{time,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hwt.domain.entity.price.HwPrice">
    update hw_price
    set adult_price = #{adult_price,jdbcType=DECIMAL},
      child_price = #{child_price,jdbcType=DECIMAL},
      company = #{company,jdbcType=VARCHAR},
      time_str = #{time_str,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      person_num = #{person_num,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=BIGINT},
      update_time = #{update_time,jdbcType=BIGINT}
    where name_id = #{name_id,jdbcType=BIGINT}
      and name_type = #{name_type,jdbcType=INTEGER}
      and time = #{time,jdbcType=BIGINT}
  </update>
  
  <!--根据时间集查询价格  导游  -->
  <select id="selectCiceronePriceByTimesAndUserId" resultType="com.hwt.domain.entity.price.HwPrice">
  		select 
  			 time, adult_price, time_str, status
   		from hw_price where  name_type = 2 and name_id = #{user_id} and 
   		
   		time in 
   		 <foreach item="item" index="index" collection="set" open="("  close=")" separator=",">  
          #{item}   
        </foreach>  
  </select>
  
  <!-- 多条添加  -->
  <insert id="insertList" parameterType="java.util.List">
    insert into hw_price 
     (name_id, name_type, time, 
      adult_price, child_price, company, 
      time_str, status, person_num, 
      create_time, update_time)
    values
    <foreach collection="list" item="item" index= "index" separator =",">
   	(#{item.name_id,jdbcType=BIGINT}, #{item.name_type,jdbcType=INTEGER}, #{item.time,jdbcType=BIGINT}, 
      #{item.adult_price,jdbcType=DECIMAL}, #{item.child_price,jdbcType=DECIMAL}, #{item.company,jdbcType=VARCHAR}, 
      #{item.time_str,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER}, #{item.person_num,jdbcType=INTEGER}, 
      #{item.create_time,jdbcType=BIGINT}, #{item.update_time,jdbcType=BIGINT})
    </foreach>


</insert>
<!--多条修改 导游  -->
<update id="updateCiceroneList">
	update hw_price set adult_price = #{adult_price}, child_price = #{child_price} ,update_time = #{update_time}
	 where name_type = 2 and name_id = #{user_id} and time in 
	 
	 		<foreach collection="list" item="i" index="index" open="("  close=")" separator=",">
              #{i,jdbcType=BIGINT}
          </foreach>
          
          
</update>

 <!-- 根据时间集状态查询价格  导游  -->
  <select id="selectCiceronePriceByTimesAndUserIdAndStatus" resultType="com.hwt.domain.entity.price.HwPrice">
  		select 
  			 time, adult_price, time_str, status
   		from hw_price where  name_type = 2 and name_id = #{user_id} and status = #{status} and
   		
   		time in 
   		 <foreach item="item" index="index" collection="set" open="("  close=")" separator=",">  
          #{item}   
        </foreach>  
  </select>
 <!-- 根据时间集状态删除价格  导游 -->
  <select id="deleteCiceronePriceBySetAndUserId" >
  		delete
   		 from hw_price where  name_type = 2 and status = 0 and name_id = #{user_id} and 
   		
   		time in 
   		 <foreach item="item" index="index" collection="set" open="("  close=")" separator=",">  
          #{item}   
        </foreach>  
  </select>
</mapper>